# Cache and logs
/*.log

# Managed by IDE
/nbproject/
/.idea
/.sencha
/capsules
/resources/reports/*
/resources/files/*

#Files by Project
/Capsules
/node_modules
/ext-6.2.0
/resources

/node_js/connection/*


/node_js/connection/*

