.principal {
    height: 40px;
    width: 40px;
    border: none !important;
}

.x-body-principal {
    text-align: center;
    width: 100%;
    height: 45%;
}

.x-auditoria {
    text-align: left;
    margin-left: 10px;
    width: 100%;
    height: 45%;
}


.x-center-principal.x-view-item-focused {
    outline: none !important;
    width: 220px !important;
    height: 160px !important;
    max-height:160px !important;
    height: auto !important;
    border: none !important;
    float: left !important;
    margin: 15px 10px !important;
    padding: 10px 0px !important;
    -moz-box-shadow: 1px 1px 6px rgb(144, 144, 144) !important;
    -webkit-box-shadow: 1px 1px 6px rgb(144, 144, 144) !important;
    -o-box-shadow: 1px 1px 6px rgb(144, 144, 144) !important;
    box-shadow: 1px 1px 6px rgb(144, 144, 144) !important;
    border-radius: 5px !important;
}

.x-center-principal {
    width: 220px !important;
    height: 160px !important;
    min-height: 160px;
    background-color: white !important;
    border: none !important;
    transition: opacity 0.3s !important;
    float: left !important;
    margin: 15px 10px !important;
    padding: 10px 0px !important;
    -moz-box-shadow: 1px 1px 6px rgb(163, 163, 163);
    -webkit-box-shadow: 1px 1px 6px rgb(163, 163, 163);
    -o-box-shadow: 1px 1px 6px rgb(163, 163, 163);
    box-shadow: 1px 1px 6px rgb(163, 163, 163);
    border-radius: 5px !important;
}

span.modulo-nombre {
    margin-top: 5px !important;
    margin-bottom: 13px !important;
    font-size: 14px !important;
    color: #009ACB !important;
    font-weight: bold;
    display: block !important;
}

.x-center-principal:hover {
    background-image: none !important;
    background-color: white !important;
    outline-width: 4px !important;
    cursor: pointer;
    border: 1px solid #009ACB !important;
}

.x-center-principal .x-image-principal {
    display: table !important;
    text-align: center !important;
    position: relative !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100% !important;
    height: 50% !important;
    font-family: "Minion Pro" !important;
}


.x-field-auditoria {
    font-weight: bold;
    margin-right: 10px;
}

.icon-palete .x-tool-img:before {
    content: '\f68b';
}

div.test {
    background-color: #EE9;
    padding: 5px;
}

ul {
    list-style-type: none;
}

.hboxinline div {
    display: inline;
}

.hboxfloat div {
    float: left;
}

.cellA {
    background-color: #CCC;
}

.cellB {
}

.x-btn-delete-ventana {
    margin-right: 10px;
}

.x-header-toolbar-gray {
    border-color: #9d9d9d;
    background-image: none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #fbfbfb), color-stop(0%, #e9e9e9));
    background-image: -webkit-linear-gradient(top, #fbfbfb, #e9e9e9, #f6673d);
    background-image: -moz-linear-gradient(top, #fbfbfb, #e9e9e9, #f62c50);
    background-image: -o-linear-gradient(top, #fbfbfb, #e9e9e9, #f63e34);
    background-image: -ms-linear-gradient(top, #fbfbfb, #e9e9e9, #f6251d);
    background-image: linear-gradient(top, #fbfbfb, #e9e9e9, #2bf623)
}

.right-cell {
    text-align: right;
    width: 10%;
}

.left-cell {
    text-align: left;
    width: 10%;
}

.center-cell {
    text-align: left;
    width: 80%;
}

.dataview-panel {
    background-color: red;
    overflow: auto;
}

.my-panel {
    overflow-x: hidden;
    overflow-y: auto;
}
