.excel{
    background: url(../icon/others/expexcel.png) no-repeat center center !important;
}

.word{
    background: url(../icon/others/expword.png) no-repeat center center !important;
}

.pdf{
    background: url(../icon/others/exppdf.jpg) no-repeat center center !important;
}
